.App {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}
.page-title {
  font-size: 22px;
  font-weight: 700;
  color: #288ecd;
  height: 65px;
  border-bottom: 1px solid #f1eeee;
}
.info-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    gap: 5px;
    select, button {
      height: 30px;
      border-radius: 5px;
      width: 180px;
    }
    button {
      height: 30px;
      border-radius: 5px;
      width: 125px;
    }
  }
}
.list-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 34px;
  .list {
    width: 400px;
    .list-headers {
      display: flex;
      flex-direction: row;
      width: 390px;
      height: 30px;
      gap: 225px;
      background-color: #f3f3f3;
      align-items: center;
      padding: 10px;
      color: grey;
    }
    .list-items {
      display: flex;
      flex-direction: row;
      width: 390px;
      height: 30px;
      gap: 178px;
      align-items: center;
      padding: 10px;
    }
  }
  .list-title {
    font-size: 22px;
    font-weight: 500;
    span {
      color: #288ecd;
    }
  }
  .info-title {
    font-size: 22px;
    font-weight: 500;
  }
  .info-option {
    width: 390px;
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 3px;
    display: flex;
    margin-bottom: 19px;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
    color: rgb(159, 157, 157);
  }
}